<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGeoDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53455/geodata.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGeoDataService" contract="AwesomeService.IGeoDataService"
                name="BasicHttpBinding_IGeoDataService" />
        </client>
    </system.serviceModel>
</configuration>